*{
    margin: 0px;
    padding:0px;
}
body{
    background-color: rgb(128, 176, 240);
    color: darkblue;
}
main{
    min-height: 71vh;
}
.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
}


.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.brand {
    display: flex;
    align-items: center;
}


li>a {
    padding: 8px 24px;
}


li {
    list-style-type: none;
}


a {
    color: white;
    text-decoration:none;
}


.nav-links {
    display: flex;
    align-items: center;
}


.button-menu-toggle {
    display: none;
}
#gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    font-family: 'arial', 'sans-serif';
    font-size: 36px;
    text-align: center;
    border: dashed red;
}
p{
    font-family: 'gerogia', 'serif';
    font-size: 18px;
    padding: 10px;
    margin: 20px;
    color:rgb(14, 13, 13);
}
/*.ejm{
    padding: 10px;
    border: 1px solid black;
    /*margin: 20px;*/
    /*margin-top: 200px;
    margin-right: 200px;/
    margin: 200px 200px 0px 0px;

}*/
main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.column {
    flex: 1;
    padding: 10px;
}

footer{
    position: relative;
    bottom: 0;
    z-index: -1;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    text-align: center;
}
@media (max-width: 600px) {
    .column {
        flex: 100%;
    }
}
@media (max-width: 768px) {
    .column {
        flex: 100%;
    }
  
  
    .nav-links {
        display: none;
    }
  
  
    .button-menu-toggle {
        display: block;
        background-color: white;
        border:none;
        border-radius: 50px;
        padding: 0 24px;
        font-family: monospace;
        font-weight: bold;
        font-size: 20px;
    }
    .nav-links.nav-links-responsive {
        position: absolute;
        display: flex;
        background-color: rgba(20,20,20,0.95);
        width: 100%;
        height: 100%;
        top: 70px;
        left: 0;
        flex-direction: column;
        padding-top: 200px;
        align-items: center;
        gap:70px;
        font-size: 40px;
    }
    #gallery{
        flex-direction: column;
    }
}